In [1]:
def adder(x, y, z):
    print("sum: ", x+y+z)

In [2]:
adder(10, 12, 14)

sum:  36

In [3]:
# declaring byte value 
byte_val = b'\x00\x01'

In [4]:
byte_val

b'\x00\x01'

In [5]:
bytes()

b''

In [8]:
a = 4

print(bytes([a]))

b'\x04'

In [10]:
import sys 
int.from_bytes(b'\x04', byteorder=sys.byteorder)

4

# break statement python

In [11]:
number = 0

for number in range(10):
    if number == 5:
        break   # break here 
    print('Number is ' + str(number))
    
print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [12]:
import pandas as pd

colors = {'first_set':  ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
          'second_set': ['Yellow','Yellow','Yellow','White','White','Blue','Blue','Blue']
         }

df = pd.DataFrame(colors, columns= ['first_set','second_set'])

print (df)

  first_set second_set
0     Green     Yellow
1     Green     Yellow
2     Green     Yellow
3      Blue      White
4      Blue      White
5       Red       Blue
6       Red       Blue
7       Red       Blue

In [13]:
df['first_set'] = df['first_set'].replace(['Green'],'Orange')

In [14]:
df

  first_set second_set
0    Orange     Yellow
1    Orange     Yellow
2    Orange     Yellow
3      Blue      White
4      Blue      White
5       Red       Blue
6       Red       Blue
7       Red       Blue

# Python Function Arguments

In [7]:
def my_function(fname):
    print(str(fname) + "Refsnes")

my_function(12)

12Refsnes

# Pandas Convert Object to Float

In [1]:
import pandas as pd 

df = pd.DataFrame([['10.0' ,6,7,8],
                   ['1.0' ,9,12,14],
                   ['5.0' ,8,10,6]],
                  columns = ['a','b','c','d'])

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes
None

In [2]:
df

      a  b   c   d
0  10.0  6   7   8
1   1.0  9  12  14
2   5.0  8  10   6

In [3]:
import pandas as pd 

df = pd.DataFrame([['10.0' ,6,7,8],
                   ['1.0' ,9,12,14],
                   ['5.0' ,8,10,6]],
                  columns = ['a','b','c','d'])

df['a'] = df['a'].astype(float, errors='raise')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      float64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes
None

# Learn OOP Python Interface

In [2]:
import zope.interface 

# interface
class Lunch(zope.interface.Interface):
    northindian = zope.interface.Attribute("chocolate")
    def food(self, northindian):
        pass
    def colddrinks(self, beverages): 
        pass

@zope.interface.implementer(Lunch) 

class Lunch(zope.interface.Interface): 
    def food(self, northindian):
        return northindian
    def colddrinks(self,beverages):
        return beverages

colddrinks = Lunch['colddrinks'] 
food = Lunch['food']
print(Lunch.implementedBy(Lunch))
print(type(colddrinks))
print(type(food))

True
<class 'zope.interface.interface.Method'>
<class 'zope.interface.interface.Method'>

# Some Practical Examples of Decorators - Memoization

In [3]:
import pickle 
import hashlib 

MEMO = {} # To remember the function input and output

Hello World!

In [11]:
import numpy as np
import pandas as pd
 
# function decorator to ensure numpy input
# and round off output to 4 decimal places
def ensure_numpy(fn):
    def decorated_function(data):
        array = np.asarray(data)
        output = fn(array)
        return np.around(output, 4)
    return decorated_function

def print_something(fn):
    def decorated_function(data):
        print("Test second decorator")
        return 1
    return decorated_function

@ensure_numpy
def numpysum(array):
    return array.sum()

@print_something
def numpysum(array):
    return array.sum()

x = np.random.randn(10,3)
y = pd.DataFrame(x, columns=["A", "B", "C"])
 
# output of numpy .sum() function
print("x.sum():", x.sum())
print()
 
# output of pandas .sum() funuction
print("y.sum():", y.sum())
print(y.sum())
print()
 
# calling decorated numpysum function
print("numpysum(x):", numpysum(x))
print("numpysum(y):", numpysum(y))

x.sum(): 7.257238376354285

y.sum(): A    3.395731
B    3.437483
C    0.424025
dtype: float64
A    3.395731
B    3.437483
C    0.424025
dtype: float64

numpysum(x): 7.2572
numpysum(y): 7.2572

In [9]:
x

array([[-0.26574988,  0.14197645,  0.9894694 ],
       [-2.03014921,  0.46820359,  0.92258518],
       [ 0.25534273,  0.78811032, -0.47353794],
       [-0.05161386,  0.43509281, -0.2533065 ],
       [ 1.52837581, -0.87575828, -1.09518682],
       [-0.03027438,  0.02357481, -0.95553191],
       [ 0.05483391,  1.09811411,  0.47453039],
       [ 0.93793149, -0.11620786,  0.43739562],
       [-1.15138699, -0.30728306, -0.67041282],
       [ 0.19514206,  0.47191872, -0.46852396]])

In [10]:
y

          A         B         C
0 -0.265750  0.141976  0.989469
1 -2.030149  0.468204  0.922585
2  0.255343  0.788110 -0.473538
3 -0.051614  0.435093 -0.253307
4  1.528376 -0.875758 -1.095187
5 -0.030274  0.023575 -0.955532
6  0.054834  1.098114  0.474530
7  0.937931 -0.116208  0.437396
8 -1.151387 -0.307283 -0.670413
9  0.195142  0.471919 -0.468524

# Decorator

In [32]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide thir")
            return 
        
        return func(a, b)
    return inner 

def second_decorator(func):
    def inner(a, b):
        print("meow meow")
        return 
    return inner

def third_decorator(func):
    def inner(a, b):
        print("third decorator")
    return inner 

@smart_divide
def divide(a, b):
    print(a/b)
    
@second_decorator
def divide(a, b):
    print(a/b)
    
@third_decorator
def divide(a, b):
    print(a/b)

In [33]:
divide(2, 5)

third decorator

In [34]:
divide(4, 5)
divide(7, 8)
divide(3, 5)

third decorator
third decorator
third decorator

# pandas.DataFrame.rename

In [3]:
import pandas as pd 
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

In [4]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
df.rename(columns={"A":"a", "B":"c"})

   a  c
0  1  4
1  2  5
2  3  6