In [1]:
import libs

In [2]:
# main functions 
data, label = libs.read_dataset("DoS_dataset.csv")
X_train, X_test, y_train, y_test = libs.traintest_split(data, label)

In [3]:
X_train

           1   3   4   5   6   7   8   9   10
2822854  0545  d8  5a  00  87  00  00  00  00
3533968  0370  00  20  00  00  00  00  00  00
3578749  0260  1a  22  22  30  08  8e  6b  07
3004643  0440  ff  00  00  00  ff  6e  09  00
3374003  0440  ff  00  00  00  ff  91  09  00
...       ...  ..  ..  ..  ..  ..  ..  ..  ..
2438316  0153  00  21  10  ff  00  ff  00  00
743128   0000  00  00  00  00  00  00  00  00
1407870  018f  fe  58  00  00  00  3c  00  00
2224836  0000  00  00  00  00  00  00  00  00
2451318  043f  00  40  60  ff  7e  c9  08  00

[2907666 rows x 9 columns]

In [7]:
import pandas as pd 

first_list = []
second_list = []
third_list = []
forth_list = []
fifth_list = []
sixth_list = []
seventh_list = []
eighth_list = []
nineth_list = []

for i in X_train[3]:
    first_list.append(int(i, 16))
    
for i in X_train[4]:
    second_list.append(int(i, 16))
    
for i in X_train[5]:
    third_list.append(int(i, 16))
    
for i in X_train[6]:
    forth_list.append(int(i, 16))
    
for i in X_train[7]:
    fifth_list.append(int(i, 16))
    
for i in X_train[8]:
    sixth_list.append(int(i, 16))
    
for i in X_train[9]:
    seventh_list.append(int(i, 16))
    
for i in X_train[10]:
    eighth_list.append(int(i, 16))
    
for i in X_train[1]:
    nineth_list.append(int(i, 16))

In [14]:
# new dataframe 

df = pd.DataFrame()

df[1] = first_list
df[2] = second_list
df[3] = third_list
df[4] = forth_list
df[5] = fifth_list
df[6] = sixth_list
df[7] = seventh_list
df[8] = eighth_list
df[9] = nineth_list

In [16]:
df[2] = second_list

In [17]:
df

           1   2
0        216  90
1          0  32
2         26  34
3        255   0
4        255   0
...      ...  ..
2907661    0  33
2907662    0   0
2907663  254  88
2907664    0   0
2907665    0  64

[2907666 rows x 2 columns]

In [8]:
X_train

           1   3   4   5   6   7   8   9   10
2822854  0545  d8  5a  00  87  00  00  00  00
3533968  0370  00  20  00  00  00  00  00  00
3578749  0260  1a  22  22  30  08  8e  6b  07
3004643  0440  ff  00  00  00  ff  6e  09  00
3374003  0440  ff  00  00  00  ff  91  09  00
...       ...  ..  ..  ..  ..  ..  ..  ..  ..
2438316  0153  00  21  10  ff  00  ff  00  00
743128   0000  00  00  00  00  00  00  00  00
1407870  018f  fe  58  00  00  00  3c  00  00
2224836  0000  00  00  00  00  00  00  00  00
2451318  043f  00  40  60  ff  7e  c9  08  00

[2907666 rows x 9 columns]

In [10]:
X_train[3]

1839689    00
541208     00
1684294    05
352266     f2
171979     ff
           ..
358502     05
2670170    d8
1870723    00
2848304    fe
2401672    dc
Name: 3, Length: 2907666, dtype: object

In [11]:
X_train[3][541208]

'00'

In [15]:
len(x)

2907666

In [16]:
X_train

         3   4   5   6   7   8   9   10
1839689  00  00  00  00  00  00  00  00
541208   00  21  10  ff  00  ff  00  00
1684294  05  23  68  09  23  22  00  6f
352266   f2  7f  00  00  27  7f  0b  4d
171979   ff  00  00  00  ff  87  09  00
...      ..  ..  ..  ..  ..  ..  ..  ..
358502   05  21  50  0a  21  1e  00  6f
2670170  d8  57  00  80  00  00  00  00
1870723  00  21  10  ff  00  ff  00  00
2848304  fe  5d  00  00  00  3c  00  00
2401672  dc  bd  7f  14  11  20  00  14

[2907666 rows x 8 columns]

In [23]:
import sys

int.from_bytes(first_list[0], "little")

12336

In [24]:
type(first_list[0])

bytes

In [25]:
first_list[0]

b'00'

In [42]:
byte_val = b'00'
byte_val = bytes(byte_val)
int_val = int.from_bytes(byte_val, "big", signed=True)
print(int_val)

12336

In [45]:
byte_val = [b'00']
byte_val = bytes(byte_val)

TypeError: 'bytes' object cannot be interpreted as an integer

In [44]:
byte_val

b'00'

In [46]:
testing_string = 'F'

print("The Hexadecimal string is: " + str(testing_string))

convertion = int(testing_string, 16)

The Hexadecimal string is: F

In [47]:
convertion

15

In [48]:
type(testing_string)

str

In [52]:
first_list = []
for i in X_train[3]:
    first_list.append(int(i, 16))

In [54]:
len(first_list)

2907666

In [4]:
X_train[1]

2822854    0545
3533968    0370
3578749    0260
3004643    0440
3374003    0440
           ...
2438316    0153
743128     0000
1407870    018f
2224836    0000
2451318    043f
Name: 1, Length: 2907666, dtype: object

In [6]:
int(X_train[1][2822854], 16)

1349