In [1]:
def adder(x, y, z):
    print("sum: ", x+y+z)

In [2]:
adder(10, 12, 14)

sum:  36

In [3]:
# declaring byte value 
byte_val = b'\x00\x01'

In [4]:
byte_val

b'\x00\x01'

In [5]:
bytes()

b''

In [8]:
a = 4

print(bytes([a]))

b'\x04'

In [10]:
import sys 
int.from_bytes(b'\x04', byteorder=sys.byteorder)

4

# break statement python

In [11]:
number = 0

for number in range(10):
    if number == 5:
        break   # break here 
    print('Number is ' + str(number))
    
print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [12]:
import pandas as pd

colors = {'first_set':  ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
          'second_set': ['Yellow','Yellow','Yellow','White','White','Blue','Blue','Blue']
         }

df = pd.DataFrame(colors, columns= ['first_set','second_set'])

print (df)

  first_set second_set
0     Green     Yellow
1     Green     Yellow
2     Green     Yellow
3      Blue      White
4      Blue      White
5       Red       Blue
6       Red       Blue
7       Red       Blue

In [13]:
df['first_set'] = df['first_set'].replace(['Green'],'Orange')

In [14]:
df

  first_set second_set
0    Orange     Yellow
1    Orange     Yellow
2    Orange     Yellow
3      Blue      White
4      Blue      White
5       Red       Blue
6       Red       Blue
7       Red       Blue

# Python Function Arguments

In [7]:
def my_function(fname):
    print(str(fname) + "Refsnes")

my_function(12)

12Refsnes

# Pandas Convert Object to Float

In [1]:
import pandas as pd 

df = pd.DataFrame([['10.0' ,6,7,8],
                   ['1.0' ,9,12,14],
                   ['5.0' ,8,10,6]],
                  columns = ['a','b','c','d'])

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes
None

In [2]:
df

      a  b   c   d
0  10.0  6   7   8
1   1.0  9  12  14
2   5.0  8  10   6

In [3]:
import pandas as pd 

df = pd.DataFrame([['10.0' ,6,7,8],
                   ['1.0' ,9,12,14],
                   ['5.0' ,8,10,6]],
                  columns = ['a','b','c','d'])

df['a'] = df['a'].astype(float, errors='raise')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      float64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes
None